<section class="leave-info-container">
  <h2 class="section-title">👥 Leave Information</h2>

  <ul class="leave-info-list" *ngIf="leaveRequest">
    <li class="leave-info-card">
      <div class="leave-info-content">
        <h3>📌 Reason: <span>{{ leaveRequest.reason }}</span></h3>
        <p><strong>📅 Start Date:</strong> {{ leaveRequest.startDate }}</p>
        <p><strong>📅 End Date:</strong> {{ leaveRequest.endDate }}</p>
        <p><strong>📅 Status:</strong> {{ leaveRequest.status }} </p>
      </div>
    </li>
  </ul>
</section>


