<section class="leave-hero">
  <div class="leave-hero-content">
    <div class="text-section">
      <h1 class="main-title">
        Prenez vos <span class="highlight">congés</span> sereinement
      </h1>
      <p class="subtitle">
        LeavePro simplifie la gestion des congés pour vous et votre équipe. 
        Suivi des demandes, validation rapide, tout est centralisé.
      </p>

      <div class="actions">
        <a routerLink="/Leaves" class="primary-btn">📅 Demander un congé</a>
        <a href="#features" class="secondary-btn">📘 Voir les fonctionnalités</a>
      </div>
    </div>

    <div class="image-section">
    </div>
  </div>
</section>
